<div class="home-wrapper d-flex justify-content-center align-items-center vh-100">
  <div class="container">
    <div class="panel-title-wrapper">
      <h2 class="panel-title">Panel de Desarrollo</h2>
    </div>

    <div class="row justify-content-center gap-4">

      <!-- Tarjeta Login -->
      <div class="card home-card col-md-3 text-center shadow">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
        </div>
        <img src="assets/images/login.jpg" class="card-img-top" alt="Login" />
        <div class="card-body">
          <a routerLink="/auth/login" class="btn btn-primary w-100">Ir</a>
        </div>
      </div>

      <!-- Tarjeta Zonas -->
      <div class="card home-card col-md-3 text-center shadow">
        <div class="card-body">
          <h5 class="card-title">Listado de Zonas</h5>
        </div>
        <img src="assets/images/zone.jpg" class="card-img-top" alt="Zonas" />
        <div class="card-body">
          <a routerLink="/zones/zones-admin" class="btn btn-primary w-100">Ir</a>
        </div>
      </div>

      <!-- Tarjeta Reparto -->
      <div class="card home-card col-md-3 text-center shadow">
        <div class="card-body">
          <h5 class="card-title">Listado de Delivery</h5>
        </div>
        <img src="assets/images/delivery.webp" class="card-img-top" alt="Reparto" />
        <div class="card-body">
          <a routerLink="/listDelivery" class="btn btn-primary w-100">Ir</a>
        </div>
      </div>

    </div>
  </div>
</div>
