/* Formulario igual al de delivery */
.form-card {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #ffffffd2; /* blanco semitransparente */
  padding: 2rem;
}

/* Título con color naranja del topbar */
/* Topbar estilo delivery */


/* Bordes suaves y consistentes */
.bg-light-subtle {
  background-color: #f8f9fa;
}

/* Spinner alineado */
.spinner-border-sm {
  margin-right: 5px;
}
