
/* Formulario */
.form-card {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #ffffffd2;
  padding: 2rem;
}
/* Botón rojo */
.btn-red {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  font-weight: 600;
}
.btn-red:hover {
  background-color: #c82333;
  border-color: #bd2130;
}
